In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('2024-yl-istanbul-deniz-iskeleleri-yolcu-saylar(1).csv')
df.head()

  yil;ay;otorite_adi;istasyon_adi;tekil_yolcu_sayisi;toplam_yolculuk_sayisi
0  2024;1;IBB TOPLU ULASIM HIZMETLERI MUDURLUGU;E...
1  2024;1;SINIRLI SORUMLU MAVI MARMARA TURIZM DEN...
2  2024;1;IBB TOPLU ULASIM HIZMETLERI MUDURLUGU;A...
3  2024;1;IDO-ISTANBUL DENIZ OTD. SAN. VE TIC. A....
4  2024;1;IBB TOPLU ULASIM HIZMETLERI MUDURLUGU;A...

In [3]:
df_splited = df['yil;ay;otorite_adi;istasyon_adi;tekil_yolcu_sayisi;toplam_yolculuk_sayisi'].str.split(';', expand=True)
df_splited.head()

,0,1,2,3,4,5
0,2024,1,IBB TOPLU ULASIM HIZMETLERI MUDURLUGU,EMINONU KADIKOY,121832,196400
1,2024,1,SINIRLI SORUMLU MAVI MARMARA TURIZM DENIZ YOLC...,Kınaladı,2994,8433
2,2024,1,IBB TOPLU ULASIM HIZMETLERI MUDURLUGU,Anadolu Kavağı,4281,8219
3,2024,1,IDO-ISTANBUL DENIZ OTD. SAN. VE TIC. A.S.,Yeni Kabataş,14,14
4,2024,1,IBB TOPLU ULASIM HIZMETLERI MUDURLUGU,Ayvansaray,892,1335

In [4]:
df_splited = df_splited.rename(columns={'0':'yil', '1':'ay', '2':'otorite_adi','3':'istasyon_adi','4':'tekil_yolcu_sayisi','5':'toplam_yolculuk_sayisi'})
df_splited.head()

,0,1,2,3,4,5
0,2024,1,IBB TOPLU ULASIM HIZMETLERI MUDURLUGU,EMINONU KADIKOY,121832,196400
1,2024,1,SINIRLI SORUMLU MAVI MARMARA TURIZM DENIZ YOLC...,Kınaladı,2994,8433
2,2024,1,IBB TOPLU ULASIM HIZMETLERI MUDURLUGU,Anadolu Kavağı,4281,8219
3,2024,1,IDO-ISTANBUL DENIZ OTD. SAN. VE TIC. A.S.,Yeni Kabataş,14,14
4,2024,1,IBB TOPLU ULASIM HIZMETLERI MUDURLUGU,Ayvansaray,892,1335

In [5]:
print(df_splited.columns)

Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [6]:
df_splited = df_splited.rename(columns={0:'yil', 1:'ay', 2:'otorite_adi',3:'istasyon_adi',4:'tekil_yolcu_sayisi',5:'toplam_yolculuk_sayisi'})

In [7]:
df_splited.head()

,yil,ay,otorite_adi,istasyon_adi,tekil_yolcu_sayisi,toplam_yolculuk_sayisi
0,2024,1,IBB TOPLU ULASIM HIZMETLERI MUDURLUGU,EMINONU KADIKOY,121832,196400
1,2024,1,SINIRLI SORUMLU MAVI MARMARA TURIZM DENIZ YOLC...,Kınaladı,2994,8433
2,2024,1,IBB TOPLU ULASIM HIZMETLERI MUDURLUGU,Anadolu Kavağı,4281,8219
3,2024,1,IDO-ISTANBUL DENIZ OTD. SAN. VE TIC. A.S.,Yeni Kabataş,14,14
4,2024,1,IBB TOPLU ULASIM HIZMETLERI MUDURLUGU,Ayvansaray,892,1335

In [8]:
df_splited.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970 entries, 0 to 969
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   yil                     970 non-null    object
 1   ay                      970 non-null    object
 2   otorite_adi             970 non-null    object
 3   istasyon_adi            970 non-null    object
 4   tekil_yolcu_sayisi      970 non-null    object
 5   toplam_yolculuk_sayisi  970 non-null    object
dtypes: object(6)
memory usage: 45.6+ KB

In [9]:
df_splited.isna()

,yil,ay,otorite_adi,istasyon_adi,tekil_yolcu_sayisi,toplam_yolculuk_sayisi
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
965,False,False,False,False,False,False
966,False,False,False,False,False,False
967,False,False,False,False,False,False
968,False,False,False,False,False,False
969,False,False,False,False,False,False

In [10]:
df_splited.isna().sum()

yil                       0
ay                        0
otorite_adi               0
istasyon_adi              0
tekil_yolcu_sayisi        0
toplam_yolculuk_sayisi    0
dtype: int64

In [11]:
independent = df_splited.iloc[:, :-1].values
dependent = df_splited.iloc[:, -1].values
print(f'Bağımsız Değişkenler {independent}')
print(f'Bağımlı Değişkenler {dependent}')

Bağımsız Değişkenler [['2024' '1' 'IBB TOPLU ULASIM HIZMETLERI MUDURLUGU' 'EMINONU KADIKOY'
  '121832']
 ['2024' '1'
  'SINIRLI SORUMLU MAVI MARMARA TURIZM DENIZ YOLCU VE YUK TASIMA VE ISLETME KOOPERATIFI'
  'Kınaladı' '2994']
 ['2024' '1' 'IBB TOPLU ULASIM HIZMETLERI MUDURLUGU' 'Anadolu Kavağı'
  '4281']
 ...
 ['2024' '12'
  'SINIRLI SORUMLU MAVI MARMARA TURIZM DENIZ YOLCU VE YUK TASIMA VE ISLETME KOOPERATIFI'
  'Büyükada' '12557']
 ['2024' '12' 'IBB TOPLU ULASIM HIZMETLERI MUDURLUGU' 'BOSTANCI' '1635']
 ['2024' '12' 'IBB TOPLU ULASIM HIZMETLERI MUDURLUGU' 'Beylerbeyi' '1677']]
Bağımlı Değişkenler ['196400' '8433' '8219' '14' '1335' '34882' '2410' '23780' '809' '273164'
 '9638' '11425' '3' '31311' '21256' '21294' '19115' '12571' '56873' '1232'
 '65752' '2629' '281804' '11213' '5572' '14687' '27591' '12556' '3459'
 '435' '10032' '200010' '605992' '99' '208499' '159525' '37043' '15617'
 '4120' '20299' '29003' '9868' '3174' '20092' '1' '1559' '20844' '96477'
 '8279' '96105' '61944' '7079' '41844' '26314' '27080' '28020' '40721'
 '183053' '11647' '11116' '105590' '225392' '21643' '622892' '612' '10723'
 '2033' '59234' '4227' '7039' '15982' '4134' '28989' '14752' '34998'
 '64946' '135106' '22448' '4852' '11787' '142818' '168175' '35048' '5340'
 '738' '1808' '9034' '324242' '1' '13725' '14539' '20687' '1' '40448'
 '313066' '80484' '24675' '18537' '9414' '12689' '36786' '7021' '14929'
 '10398' '33202' '664460' '19' '12977' '3718' '10826' '57317' '4823'
 '101025' '154212' '2' '700463' '5756' '14258' '24611' '28026' '11682'
 '151974' '41667' '10561' '29919' '50655' '75606' '9256' '183682' '7'
 '26810' '9749' '228542' '1142' '24480' '2209' '248202' '70249' '3548'
 '18310' '25190' '2576' '424' '282110' '19441' '25273' '73644' '21328'
 '34053' '32444' '1055' '23343' '67122' '16536' '240829' '3886' '127161'
 '5620' '50852' '15029' '39552' '203303' '33260' '5366' '14526' '22664'
 '3' '43058' '46347' '12374' '69075' '1131' '719726' '214227' '470'
 '10834' '180694' '35490' '9773' '9930' '169317' '3762' '5103' '1293'
 '38386' '11989' '24591' '330' '24254' '304457' '118701' '45251' '269291'
 '20011' '2259' '2106' '10123' '57' '11525' '8547' '38832' '8943' '284019'
 '13549' '17054' '8168' '140995' '102254' '1334' '106578' '15105' '97886'
 '68619' '22824' '27914' '1994' '31322' '220284' '64825' '17387' '211711'
 '28157' '5132' '21356' '238714' '682824' '13566' '106171' '29151' '3337'
 '433' '3755' '4803' '18025' '13118' '30622' '34637' '12552' '23839'
 '22012' '86523' '52770' '29949' '194796' '19437' '381994' '28136' '7'
 '13462' '53581' '23236' '34613' '241995' '16762' '85933' '21100' '2755'
 '3121' '1020' '18825' '59318' '3882' '273' '43' '20858' '35269' '7'
 '13129' '10851' '25289' '34410' '331073' '7359' '180392' '1869' '39775'
 '5761' '30980' '150036' '10444' '24764' '18520' '37777' '21170' '6693'
 '62191' '51925' '18259' '280577' '19359' '34377' '679' '252437' '69879'
 '754462' '10065' '42450' '90285' '43058' '7076' '1328' '79344' '712296'
 '39905' '2' '80055' '91967' '154908' '150868' '108443' '9070' '141414'
 '34512' '51711' '274' '19812' '285910' '358302' '26944' '175494' '4579'
 '274551' '5128' '17850' '284' '46647' '270584' '1905' '2500' '16144'
 '126162' '46504' '802713' '270576' '2427' '25931' '33' '779212' '5922'
 '30482' '3' '31543' '59004' '26' '45553' '27283' '5755' '24289' '302942'
 '54095' '9504' '152771' '17440' '358923' '89' '8569' '172' '4131'
 '211510' '121637' '38923' '71014' '12086' '361288' '79782' '2185'
 '153189' '21574' '77514' '79821' '20440' '46879' '1' '3138' '207' '1279'
 '30939' '55' '24635' '2422' '6769' '168992' '14496' '13871' '33036'
 '27981' '264126' '252392' '26819' '21083' '9214' '60977' '31987' '6674'
 '34337' '6937' '16135' '36274' '4419' '19115' '198433' '62567' '148729'
 '19988' '14444' '16488' '144122' '28845' '10618' '261886' '27269' '30824'
 '17798' '274528' '47663' '19036' '16726' '40928' '235516' '19' '39410'
 '920' '144458' '265063' '15799' '80455' '243076' '84602' '653987' '94360'
 '23958' '3211' '131521' '6' '60681' '37181' '4' '119852' '152412' '7935'
 '690041' '65571' '222939' '182606' '230522' '6374' '90316' '10634' '5173'
 '19287' '536' '5813' '97723' '94611' '17334' '6226' '335847' '221599'
 '2159' '37731' '11420' '3' '11141' '35057' '1721' '37076' '32597' '10537'
 '45712' '25233' '51168' '383225' '23680' '104' '66669' '94095' '16602'
 '60142' '305883' '185' '3798' '18621' '9111' '22558' '502' '25434' '3879'
 '53472' '16564' '4219' '247091' '58331' '10587' '168105' '1987' '3976'
 '102482' '13674' '1' '62129' '2438' '651429' '634908' '17277' '20161'
 '37439' '244573' '8123' '16105' '3786' '869' '238850' '34740' '20160'
 '12233' '34327' '10483' '33334' '26675' '206532' '27288' '2' '77192'
 '3963' '114510' '6155' '36180' '2' '20349' '36533' '9794' '103290' '9977'
 '23347' '25583' '14' '287191' '78742' '14836' '52059' '60876' '14499'
 '56216' '281095' '135447' '89280' '24817' '317495' '5565' '25197' '97902'
 '1545' '69872' '88542' '47573' '2631' '217924' '6780' '1158' '7' '147925'
 '108' '225964' '35115' '241243' '105' '29216' '10142' '5284' '385290'
 '49665' '17422' '140073' '134007' '232376' '6014' '57448' '31858' '64447'
 '299605' '59155' '11698' '83988' '14809' '241771' '26003' '35338' '96089'
 '873' '6409' '22983' '84079' '228336' '1041' '5533' '646268' '3535'
 '1714' '133839' '338' '256178' '35974' '33059' '3' '10205' '55042'
 '164839' '3' '1' '79558' '4896' '246727' '30605' '418104' '16654' '66556'
 '13646' '13844' '33081' '102097' '325737' '4081' '96468' '2152' '10093'
 '12100' '2241' '197364' '5549' '11032' '4334' '125' '20010' '221089'
 '30213' '72220' '4016' '650024' '16750' '56463' '11753' '298443' '41263'
 '19400' '22208' '12999' '153885' '30019' '23568' '35' '112475' '46288'
 '28839' '1560' '22320' '36415' '14058' '253059' '1' '10079' '202815'
 '4852' '8' '3394' '22174' '51355' '30647' '52182' '210144' '123856'
 '22648' '12995' '5642' '660' '32442' '19185' '9890' '22744' '53' '215879'
 '27856' '51403' '42741' '14817' '16693' '65659' '20748' '156702' '326682'
 '1198' '231476' '42592' '9085' '6781' '9384' '6345' '25890' '8996'
 '62079' '14962' '305095' '126627' '587708' '3132' '131039' '42217'
 '12934' '5279' '34779' '14782' '36725' '1233' '18412' '96893' '18514'
 '36631' '52003' '1975' '128' '20681' '2648' '70693' '28516' '131524'
 '191314' '135213' '1638' '6' '26056' '36184' '143634' '3683' '596696'
 '5584' '16398' '54410' '23132' '2106' '2' '220682' '17163' '3504' '26888'
 '6142' '22123' '13462' '120552' '1454' '51274' '32530' '737204' '6066'
 '143911' '16742' '24385' '27615' '6208' '15676' '336597' '3143' '241956'
 '1692' '344018' '43545' '34186' '14940' '136579' '228399' '3917' '43034'
 '18954' '111533' '49819' '129427' '23688' '31730' '9679' '22914' '19781'
 '3' '38555' '28126' '23976' '13589' '30913' '1266' '60189' '19830'
 '154630' '10008' '10895' '18200' '30677' '36773' '107964' '63930' '28923'
 '9847' '83123' '370' '61512' '146244' '235893' '16621' '5618' '5269'
 '240099' '984' '10247' '27954' '2202' '719247' '55016' '290902' '15651'
 '10464' '8515' '24969' '28011' '15028' '112602' '648275' '105768' '20298'
 '45931' '3594' '202490' '15251' '47746' '25601' '177794' '3865' '287658'
 '24899' '292816' '70511' '17443' '39369' '35802' '640188' '5244' '1518'
 '106560' '9231' '3' '224379' '20592' '44819' '37261' '8095' '1507'
 '107077' '2764' '2117' '8912' '122086' '11201' '11969' '20081' '194772'
 '3531' '10256' '75543' '21331' '16379' '190790' '32409' '12562' '1059'
 '13511' '2253' '55108' '9072' '1767' '1013' '30456' '5112' '10969'
 '67986' '17615' '12682' '28536' '19983' '137018' '4926' '22216' '23637'
 '22201' '14900' '194309' '13777' '8949' '6982' '1523' '1532' '26310'
 '12470' '29206' '8250' '7419' '3588' '18831' '186569' '165883' '15599'
 '64609' '1968' '43703' '101552' '47619' '34947' '7102' '19534' '16800'
 '1078' '4312' '5804' '63932' '63794' '3614' '12168' '26212' '17774'
 '14260' '16209' '19951' '22247' '22161' '2334' '189323' '24132' '261853'
 '131382' '1359' '7585' '15111' '10246' '8839' '909' '40542' '97684'
 '94924' '13431' '8741' '227377' '10432' '2' '20362' '30806' '125574'
 '187116' '625946' '41275' '2' '12986' '9152' '12910' '2851' '11863'
 '628837' '101881' '185929' '28258' '19907' '54701' '7812' '279367'
 '31767' '4986' '4695']

In [12]:
print(f'Bağımsız Değişkenler {independent}')

Bağımsız Değişkenler [['2024' '1' 'IBB TOPLU ULASIM HIZMETLERI MUDURLUGU' 'EMINONU KADIKOY'
  '121832']
 ['2024' '1'
  'SINIRLI SORUMLU MAVI MARMARA TURIZM DENIZ YOLCU VE YUK TASIMA VE ISLETME KOOPERATIFI'
  'Kınaladı' '2994']
 ['2024' '1' 'IBB TOPLU ULASIM HIZMETLERI MUDURLUGU' 'Anadolu Kavağı'
  '4281']
 ...
 ['2024' '12'
  'SINIRLI SORUMLU MAVI MARMARA TURIZM DENIZ YOLCU VE YUK TASIMA VE ISLETME KOOPERATIFI'
  'Büyükada' '12557']
 ['2024' '12' 'IBB TOPLU ULASIM HIZMETLERI MUDURLUGU' 'BOSTANCI' '1635']
 ['2024' '12' 'IBB TOPLU ULASIM HIZMETLERI MUDURLUGU' 'Beylerbeyi' '1677']]

In [13]:
print(f'Bağımlı Değişkenler {dependent}')

Bağımlı Değişkenler ['196400' '8433' '8219' '14' '1335' '34882' '2410' '23780' '809' '273164'
 '9638' '11425' '3' '31311' '21256' '21294' '19115' '12571' '56873' '1232'
 '65752' '2629' '281804' '11213' '5572' '14687' '27591' '12556' '3459'
 '435' '10032' '200010' '605992' '99' '208499' '159525' '37043' '15617'
 '4120' '20299' '29003' '9868' '3174' '20092' '1' '1559' '20844' '96477'
 '8279' '96105' '61944' '7079' '41844' '26314' '27080' '28020' '40721'
 '183053' '11647' '11116' '105590' '225392' '21643' '622892' '612' '10723'
 '2033' '59234' '4227' '7039' '15982' '4134' '28989' '14752' '34998'
 '64946' '135106' '22448' '4852' '11787' '142818' '168175' '35048' '5340'
 '738' '1808' '9034' '324242' '1' '13725' '14539' '20687' '1' '40448'
 '313066' '80484' '24675' '18537' '9414' '12689' '36786' '7021' '14929'
 '10398' '33202' '664460' '19' '12977' '3718' '10826' '57317' '4823'
 '101025' '154212' '2' '700463' '5756' '14258' '24611' '28026' '11682'
 '151974' '41667' '10561' '29919' '50655' '75606' '9256' '183682' '7'
 '26810' '9749' '228542' '1142' '24480' '2209' '248202' '70249' '3548'
 '18310' '25190' '2576' '424' '282110' '19441' '25273' '73644' '21328'
 '34053' '32444' '1055' '23343' '67122' '16536' '240829' '3886' '127161'
 '5620' '50852' '15029' '39552' '203303' '33260' '5366' '14526' '22664'
 '3' '43058' '46347' '12374' '69075' '1131' '719726' '214227' '470'
 '10834' '180694' '35490' '9773' '9930' '169317' '3762' '5103' '1293'
 '38386' '11989' '24591' '330' '24254' '304457' '118701' '45251' '269291'
 '20011' '2259' '2106' '10123' '57' '11525' '8547' '38832' '8943' '284019'
 '13549' '17054' '8168' '140995' '102254' '1334' '106578' '15105' '97886'
 '68619' '22824' '27914' '1994' '31322' '220284' '64825' '17387' '211711'
 '28157' '5132' '21356' '238714' '682824' '13566' '106171' '29151' '3337'
 '433' '3755' '4803' '18025' '13118' '30622' '34637' '12552' '23839'
 '22012' '86523' '52770' '29949' '194796' '19437' '381994' '28136' '7'
 '13462' '53581' '23236' '34613' '241995' '16762' '85933' '21100' '2755'
 '3121' '1020' '18825' '59318' '3882' '273' '43' '20858' '35269' '7'
 '13129' '10851' '25289' '34410' '331073' '7359' '180392' '1869' '39775'
 '5761' '30980' '150036' '10444' '24764' '18520' '37777' '21170' '6693'
 '62191' '51925' '18259' '280577' '19359' '34377' '679' '252437' '69879'
 '754462' '10065' '42450' '90285' '43058' '7076' '1328' '79344' '712296'
 '39905' '2' '80055' '91967' '154908' '150868' '108443' '9070' '141414'
 '34512' '51711' '274' '19812' '285910' '358302' '26944' '175494' '4579'
 '274551' '5128' '17850' '284' '46647' '270584' '1905' '2500' '16144'
 '126162' '46504' '802713' '270576' '2427' '25931' '33' '779212' '5922'
 '30482' '3' '31543' '59004' '26' '45553' '27283' '5755' '24289' '302942'
 '54095' '9504' '152771' '17440' '358923' '89' '8569' '172' '4131'
 '211510' '121637' '38923' '71014' '12086' '361288' '79782' '2185'
 '153189' '21574' '77514' '79821' '20440' '46879' '1' '3138' '207' '1279'
 '30939' '55' '24635' '2422' '6769' '168992' '14496' '13871' '33036'
 '27981' '264126' '252392' '26819' '21083' '9214' '60977' '31987' '6674'
 '34337' '6937' '16135' '36274' '4419' '19115' '198433' '62567' '148729'
 '19988' '14444' '16488' '144122' '28845' '10618' '261886' '27269' '30824'
 '17798' '274528' '47663' '19036' '16726' '40928' '235516' '19' '39410'
 '920' '144458' '265063' '15799' '80455' '243076' '84602' '653987' '94360'
 '23958' '3211' '131521' '6' '60681' '37181' '4' '119852' '152412' '7935'
 '690041' '65571' '222939' '182606' '230522' '6374' '90316' '10634' '5173'
 '19287' '536' '5813' '97723' '94611' '17334' '6226' '335847' '221599'
 '2159' '37731' '11420' '3' '11141' '35057' '1721' '37076' '32597' '10537'
 '45712' '25233' '51168' '383225' '23680' '104' '66669' '94095' '16602'
 '60142' '305883' '185' '3798' '18621' '9111' '22558' '502' '25434' '3879'
 '53472' '16564' '4219' '247091' '58331' '10587' '168105' '1987' '3976'
 '102482' '13674' '1' '62129' '2438' '651429' '634908' '17277' '20161'
 '37439' '244573' '8123' '16105' '3786' '869' '238850' '34740' '20160'
 '12233' '34327' '10483' '33334' '26675' '206532' '27288' '2' '77192'
 '3963' '114510' '6155' '36180' '2' '20349' '36533' '9794' '103290' '9977'
 '23347' '25583' '14' '287191' '78742' '14836' '52059' '60876' '14499'
 '56216' '281095' '135447' '89280' '24817' '317495' '5565' '25197' '97902'
 '1545' '69872' '88542' '47573' '2631' '217924' '6780' '1158' '7' '147925'
 '108' '225964' '35115' '241243' '105' '29216' '10142' '5284' '385290'
 '49665' '17422' '140073' '134007' '232376' '6014' '57448' '31858' '64447'
 '299605' '59155' '11698' '83988' '14809' '241771' '26003' '35338' '96089'
 '873' '6409' '22983' '84079' '228336' '1041' '5533' '646268' '3535'
 '1714' '133839' '338' '256178' '35974' '33059' '3' '10205' '55042'
 '164839' '3' '1' '79558' '4896' '246727' '30605' '418104' '16654' '66556'
 '13646' '13844' '33081' '102097' '325737' '4081' '96468' '2152' '10093'
 '12100' '2241' '197364' '5549' '11032' '4334' '125' '20010' '221089'
 '30213' '72220' '4016' '650024' '16750' '56463' '11753' '298443' '41263'
 '19400' '22208' '12999' '153885' '30019' '23568' '35' '112475' '46288'
 '28839' '1560' '22320' '36415' '14058' '253059' '1' '10079' '202815'
 '4852' '8' '3394' '22174' '51355' '30647' '52182' '210144' '123856'
 '22648' '12995' '5642' '660' '32442' '19185' '9890' '22744' '53' '215879'
 '27856' '51403' '42741' '14817' '16693' '65659' '20748' '156702' '326682'
 '1198' '231476' '42592' '9085' '6781' '9384' '6345' '25890' '8996'
 '62079' '14962' '305095' '126627' '587708' '3132' '131039' '42217'
 '12934' '5279' '34779' '14782' '36725' '1233' '18412' '96893' '18514'
 '36631' '52003' '1975' '128' '20681' '2648' '70693' '28516' '131524'
 '191314' '135213' '1638' '6' '26056' '36184' '143634' '3683' '596696'
 '5584' '16398' '54410' '23132' '2106' '2' '220682' '17163' '3504' '26888'
 '6142' '22123' '13462' '120552' '1454' '51274' '32530' '737204' '6066'
 '143911' '16742' '24385' '27615' '6208' '15676' '336597' '3143' '241956'
 '1692' '344018' '43545' '34186' '14940' '136579' '228399' '3917' '43034'
 '18954' '111533' '49819' '129427' '23688' '31730' '9679' '22914' '19781'
 '3' '38555' '28126' '23976' '13589' '30913' '1266' '60189' '19830'
 '154630' '10008' '10895' '18200' '30677' '36773' '107964' '63930' '28923'
 '9847' '83123' '370' '61512' '146244' '235893' '16621' '5618' '5269'
 '240099' '984' '10247' '27954' '2202' '719247' '55016' '290902' '15651'
 '10464' '8515' '24969' '28011' '15028' '112602' '648275' '105768' '20298'
 '45931' '3594' '202490' '15251' '47746' '25601' '177794' '3865' '287658'
 '24899' '292816' '70511' '17443' '39369' '35802' '640188' '5244' '1518'
 '106560' '9231' '3' '224379' '20592' '44819' '37261' '8095' '1507'
 '107077' '2764' '2117' '8912' '122086' '11201' '11969' '20081' '194772'
 '3531' '10256' '75543' '21331' '16379' '190790' '32409' '12562' '1059'
 '13511' '2253' '55108' '9072' '1767' '1013' '30456' '5112' '10969'
 '67986' '17615' '12682' '28536' '19983' '137018' '4926' '22216' '23637'
 '22201' '14900' '194309' '13777' '8949' '6982' '1523' '1532' '26310'
 '12470' '29206' '8250' '7419' '3588' '18831' '186569' '165883' '15599'
 '64609' '1968' '43703' '101552' '47619' '34947' '7102' '19534' '16800'
 '1078' '4312' '5804' '63932' '63794' '3614' '12168' '26212' '17774'
 '14260' '16209' '19951' '22247' '22161' '2334' '189323' '24132' '261853'
 '131382' '1359' '7585' '15111' '10246' '8839' '909' '40542' '97684'
 '94924' '13431' '8741' '227377' '10432' '2' '20362' '30806' '125574'
 '187116' '625946' '41275' '2' '12986' '9152' '12910' '2851' '11863'
 '628837' '101881' '185929' '28258' '19907' '54701' '7812' '279367'
 '31767' '4986' '4695']

In [14]:
from sklearn.preprocessing import LabelEncoder
label_encode = LabelEncoder()

In [16]:
df_splited.iloc[:, 2] = label_encode.fit_transform(df.iloc[:, 0])

In [17]:
df_splited

,yil,ay,otorite_adi,istasyon_adi,tekil_yolcu_sayisi,toplam_yolculuk_sayisi
0,2024,1,256,EMINONU KADIKOY,121832,196400
1,2024,1,306,Kınaladı,2994,8433
2,2024,1,240,Anadolu Kavağı,4281,8219
3,2024,1,293,Yeni Kabataş,14,14
4,2024,1,242,Ayvansaray,892,1335
...,...,...,...,...,...,...
965,2024,12,205,Sütlüce,3903,7812
966,2024,12,187,KADIKOY YENI,149060,279367
967,2024,12,223,Büyükada,12557,31767
968,2024,12,168,BOSTANCI,1635,4986
969,2024,12,174,Beylerbeyi,1677,4695

In [18]:
one_hot_col = ['otorite_adi']
df_splited = pd.get_dummies(data=df_splited, columns=one_hot_col)

In [19]:
df_splited

,yil,ay,istasyon_adi,tekil_yolcu_sayisi,toplam_yolculuk_sayisi,otorite_adi_0,otorite_adi_1,otorite_adi_2,otorite_adi_3,otorite_adi_4,...,otorite_adi_960,otorite_adi_961,otorite_adi_962,otorite_adi_963,otorite_adi_964,otorite_adi_965,otorite_adi_966,otorite_adi_967,otorite_adi_968,otorite_adi_969
0,2024,1,EMINONU KADIKOY,121832,196400,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2024,1,Kınaladı,2994,8433,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2024,1,Anadolu Kavağı,4281,8219,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2024,1,Yeni Kabataş,14,14,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2024,1,Ayvansaray,892,1335,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,2024,12,Sütlüce,3903,7812,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
966,2024,12,KADIKOY YENI,149060,279367,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
967,2024,12,Büyükada,12557,31767,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
968,2024,12,BOSTANCI,1635,4986,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
969,2024,12,Beylerbeyi,1677,4695,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False